

  <form [formGroup]="studentForm" (ngSubmit)="onSubmit()" class="mat-form">
    <!-- ID Field -->
    <mat-form-field appearance="outline" class="form-field" disabled>
      <mat-label>ID</mat-label>
      <input matInput type="number" formControlName="studentId" [appFocus]="'green'" />
    </mat-form-field>


    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Name</mat-label>
      <input matInput type="text" formControlName="studentName" appAutoFocus [appFocus]="'green'" />
    </mat-form-field>


    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Email</mat-label>
      <input matInput type="text" formControlName="studentEmail" appAutoFocus [appFocus]="'green'" />
    </mat-form-field>


    <mat-form-field appearance="outline" class="form-field">
      <mat-label>Phone</mat-label>
      <input matInput type="text" formControlName="phone" appAutoFocus [appFocus]="'green'" />
    </mat-form-field>


  <div class="form-button">  <!-- Changed from "from-button" to "form-button" -->
    <button type="button" (click)="onAdd()" class="btn add-btn">Add</button>
    <button type="button" (click)="onUpdate()" class="btn update-btn">Update</button>
  </div>
</form>
